.cursor-light {
    position: fixed;
    width: 250px;
    height: 250px;
    pointer-events: none;
    border-radius: 50%;
    background: radial-gradient(circle, rgb(255, 255, 255) 0%, transparent 80%);
    z-index: 9999;
    mix-blend-mode: overlay;
    transition: opacity 0.2s ease;
  }